* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: rgb(17, 17, 17);
$mainGreen: rgb(3, 150, 3);
$mainWhite: rgb(240, 226, 226);
$mainGrey: rgb(156, 154, 154);

body {
  font-family: "Open Sans", sans-serif;
  background: $mainWhite;
  color: $mainBlack;
}
